#manualInput textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Para incluir padding y borde en el ancho total */
    resize: vertical; /* Permitir redimensionar solo verticalmente */
}

#manualInput #speakManualBtn {
    padding: 12px 16px;
    font-size: 18px;
    border-radius: 8px;
    background: #e67e22; /* Un color diferente para destacarlo */
    color: #fff;
    border: none;
    cursor: pointer;
}